<h1>note List</h1>

<h3>List of notes</h3>

<ul>
  {{#each notes}}
  	<li>
  	   <p>ID: {{this.id}}</p>
       <p>note: {{this.note}}</p>
  	</li>
  {{/each}}
</ul>

<form action="/" method="POST">
	<textarea type="text" name="note"></textarea>

	<button type="submit">Submit</button>
</form>
